body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, #154c79,#217dc8);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
.container {
    width: 80%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 4px rgba(0,0,0,0.3);
}
.sub-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: start;
    margin: 15px;
}
label  {
    font-size: 18px;
    margin: 10px;
}
.input,.btn {
    width: 90%;
    margin: auto;
    padding: 6px 10px;
    border-color: rgba(0,0,0,.4);
    outline: none;
    border-radius: 5px;
    font-size: 18px;
}
.btn {
    background-color: #217dc8;
    color: white;
    margin: 5px 0;
}
.btn:hover {
    background-color:#154c79 ;
    color: black;
    transition: all 0.3s ease-in-out;
}
.condition {
    text-align: start;
    margin: 25px;
}

@media only screen and (max-width:600px) {
    .heading {
        font-size: 19px;
    }
    .container {
        width: 90%;
    }
    .sub-container {
        margin: 10px;
    }
    label {
        font-size: 15px;
        margin: 5px;
    }
    .input,.btn {
        padding: 5px 7px;
        border-color: rgba(0,0,0,.4);
        outline: none;
        border-radius: 3px;
        font-size: 13px;
    }
    .condition {
        text-align: start;
        margin: 20px;
    }
}
